# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/
build/
dist/

# env / secrets
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# debug / logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# testing / coverage
coverage/
.nyc_output/

# prisma
prisma/*.db
prisma/*.db-journal

# misc
*.pem
.vercel
